@font-face {
    font-family: 'andika';
    src: url(../../font/Andika/Andika-Regular.ttf);
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'andika';
}

header {
    margin-bottom: 2rem;
}

body {
    margin: 0;
}

nav, #links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav {
    box-shadow: 0px 8px 9px -2px rgb(2, 54, 94);
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}
li{ 
    color: rgb(2, 54, 94);
    padding: 10px;

}
.home{
    text-decoration: none;
}
#logo {
    color: rgb(2, 54, 94);
    font-size: 25px;
    padding-left: 10px;
    letter-spacing: 3px;
}
#header-img {

    background-image: url();
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
    color: rgb(2, 54, 94);

}