@font-face {
    font-family: 'andika';
    src: url(../../font/Andika/Andika-Regular.ttf);
}

img {
    width: 100%;
}

* {
    box-sizing: border-box;
    font-family: 'andika';
}

header {
    margin-bottom: 2rem;
}

body {
    margin: 0;
}

nav, #links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin: 0;

}
li{ 
    color: rgb(2, 54, 94);
    padding: 10px;

}
.home{
    text-decoration: none;
}
#logo {
    color: rgb(2, 54, 94);
    font-size: 30px;
    padding-left: 10px;
    font-weight: bold;
    
}